<ion-header>
  <ion-toolbar color="custom-dark">
    <ion-buttons slot="start">
      <ion-button (click)="volver()">
        <ion-icon name="arrow-back" slot="icon-only" class="white-icon"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-img src="assets/img/logo-check-app.png" style="width: 30px; height: 30px;"></ion-img>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center white-text">CheckApp</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h1 class="main-title">EDITAR EVENTO</h1>
  <div class="evento-form">
    <form (ngSubmit)="guardarEvento()">
      <!-- NOMBRE DEL EVENTO -->
      <div class="form-group">
        <ion-label>Nombre del Evento</ion-label>
        <ion-item lines="none" class="input-container">
          <ion-input [(ngModel)]="nombreEvento" 
                    name="nombreEvento" 
                    placeholder="Evento 1"
                    required>
          </ion-input>
        </ion-item>
      </div>

      <!-- ORGANIZADOR -->
      <div class="form-group">
        <ion-label>Nombre del Organizador</ion-label>
        <ion-item lines="none" class="input-container">
          <ion-input [(ngModel)]="nombreOrganizador" 
                    name="nombreOrganizador" 
                    placeholder="Ingrese nombre del organizador"
                    required>
          </ion-input>
        </ion-item>
      </div>

      <!-- FECHA -->
      <div class="form-group">
        <ion-label>Fecha del Evento</ion-label>
        <mat-form-field appearance="fill">
          <input matInput [matDatepicker]="picker" placeholder="Seleccione la fecha" [(ngModel)]="fechaEvento" name="fechaEvento" required>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>

      <!-- HORA INICIO -->
      <div class="form-group">
        <ion-label>Hora de Inicio</ion-label>
        <mat-form-field appearance="fill">
          <input matInput type="time" placeholder="Seleccione la hora de inicio" [(ngModel)]="horaInicio" name="horaInicio" required>
        </mat-form-field>
      </div>

      <!-- HORA TERMINO (OPCIONAL) -->
      <div class="form-group">
        <ion-label>Hora de Término (opcional)</ion-label>
        <mat-form-field appearance="fill">
          <input matInput type="time" placeholder="Seleccione la hora de término" [(ngModel)]="horaTermino" name="horaTermino">
        </mat-form-field>
      </div>

      <!-- LUGAR -->
      <div class="form-group">
        <ion-label>Lugar del Evento</ion-label>
        <ion-item lines="none" class="input-container">
          <ion-input [(ngModel)]="lugarEvento" 
                    name="lugarEvento" 
                    (ionChange)="actualizarMapa()"
                    placeholder="Ingrese ubicación"
                    required>
          </ion-input>
        </ion-item>
      </div>

      <!-- MAPA -->
      <div #map id="map" class="map-container"></div>
      <div id="ubicacion"></div>

      <!-- BOTONES -->
      <ion-button expand="block" 
                  type="submit" 
                  class="guardar-btn">
        GUARDAR
      </ion-button>
      <ion-button expand="block" 
                  color="medium" 
                  (click)="cancelar()"
                  class="cancelar-btn">
        CANCELAR
      </ion-button>
    </form>
  </div>
</ion-content>
