<!-- BARRA DE NAVEGACION -->
<ion-header>
  <ion-toolbar color="custom-dark">
        <!-- BOTON volver -->
        <ion-buttons slot="start">
          <ion-button (click)="volver()">
            <ion-icon name="arrow-back" slot="icon-only" class="white-icon"></ion-icon>
          </ion-button>
        </ion-buttons>
    <ion-title>
      <div class="header-content">
        <ion-img src="assets/img/logo-check-app.png" class="header-logo"></ion-img>
        <span class="header-title">CheckApp</span>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="main-content" class="ion-padding" id="main-content">
  <h1 class="main-title">MI PERFIL</h1>
  <p class="subtitle">Información Personal</p>

  <ion-card class="registro-card">
    <ion-card-content>
      <form #perfilForm="ngForm" (ngSubmit)="guardarCambios()">

        <!-- FOTO DE PERFIL -->
        <div class="profile-image-container">
          <ion-avatar (click)="cambiarFotoPerfil()">
            <ion-img [src]="perfilData.fotoPerfil"></ion-img>
          </ion-avatar>
          <ion-button fill="clear" size="small" (click)="cambiarFotoPerfil()">
            <ion-icon name="camera" slot="start"></ion-icon>
            Cambiar foto
          </ion-button>
        </div>

        <!-- NOMBRE DE USUARIO -->
        <ion-label>Nombre de Usuario</ion-label>
        <ion-item>
          <ion-input
            [value]="perfilData.username"
            readonly>
          </ion-input>
        </ion-item>

        <!-- NOMBRE Y APELLIDO -->
        <ion-label>Nombre y Apellido</ion-label>
        <ion-item>
          <ion-input
            [(ngModel)]="perfilData.nombreApellido"
            required
            name="nombreApellido"
            autocomplete="off">
          </ion-input>
        </ion-item>

        <!-- Nº DE IDENTIFICACIÓN (RUT) -->
        <ion-label>Nº de Identificación (RUT)</ion-label>
        <ion-item>
          <ion-input
            [value]="perfilData.rut"
            readonly>
          </ion-input>
        </ion-item>

        <!-- TELÉFONO -->
        <ion-label>Teléfono/Celular</ion-label>
        <ion-item>
          <ion-input
            [(ngModel)]="perfilData.telefono"
            required
            placeholder="Ejemplo: +56912345678"
            pattern="^\+56[0-9]{9}$"
            name="telefono"
            autocomplete="off">
          </ion-input>
        </ion-item>

        <!-- EMAIL -->
        <ion-label>Email</ion-label>
        <ion-item>
          <ion-input
            [(ngModel)]="perfilData.email"
            type="email"
            required
            name="email"
            autocomplete="off">
          </ion-input>
        </ion-item>

        <!-- BOTÓN GUARDAR CAMBIOS -->
        <ion-button expand="block" type="submit" class="custom-registro-button">
          Guardar Cambios
        </ion-button>
        
        
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
