<ion-header>
  <ion-toolbar color="custom-dark">
    <ion-buttons slot="start">
      <ion-img class="logo-img" src="assets/img/logo-check-app.png"></ion-img>
    </ion-buttons>
    <ion-title class="ion-text-center white-text">CheckApp</ion-title>
    <ion-buttons slot="end"></ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="true">
  <h1 class="main-title">LOGIN</h1>
  <p class="subtitle">Inicia sesión para continuar</p>
  
  <ion-card class="login-card">
    <ion-card-content>
      <form (ngSubmit)="onSubmit()" #loginForm="ngForm">

        <!-- USUARIO -->
        <ion-label>Usuario</ion-label>
        <ion-item>
          <ion-input 
            [(ngModel)]="username" 
            (ionFocus)="clearInput('username')" 
            maxlength="8" 
            minlength="3" 
            required
            placeholder="Ingresa tu usuario" 
            autocomplete="off"
            name="username">
          </ion-input>
        </ion-item>

        <!-- CONTRASEÑA -->
        <ion-label>Contraseña</ion-label>
        <ion-item>
          <ion-input 
            [(ngModel)]="password" 
            [type]="passwordType" 
            (ionFocus)="clearInput('password')" 
            maxlength="4" 
            required
            placeholder="Ingresa tu contraseña" 
            autocomplete="off"
            name="password">
          </ion-input>
          <ion-button fill="clear" slot="end" (click)="togglePasswordVisibility()">
            <ion-icon [name]="passwordIcon"></ion-icon>
          </ion-button>
        </ion-item>
      
        <!-- Selección de rol -->
        <ion-label>Selecciona tu Rol</ion-label>
        <div class="checkbox-group">
          <div class="checkbox-option">
            <ion-checkbox [(ngModel)]="isAdmin" name="isAdmin" (ionChange)="selectRole('admin')"></ion-checkbox>
            <ion-label>Administrador</ion-label>
          </div>
          
          <div class="checkbox-option">
            <ion-checkbox [(ngModel)]="isParticipant" name="isParticipant" (ionChange)="selectRole('participant')"></ion-checkbox>
            <ion-label>Participante</ion-label>
          </div>
        </div>


        <ion-button expand="block" type="submit" [disabled]="!loginForm.valid || (!isAdmin && !isParticipant)" class="custom-login-button">
          INGRESAR
        </ion-button>
        <ion-text class="forgot-password">
          <p class="ion-text-center">
            <a (click)="goToResetPassword()">¿Olvidaste tu contraseña? Restablecer aquí</a>
          </p>
        </ion-text>
      </form>
    </ion-card-content>
  </ion-card>
  
  <p class="create-account ion-text-center">
    ¿No tienes una cuenta? <a (click)="goToCreateAccount()">Crear cuenta nueva</a>
  </p>
</ion-content>
