<ion-header>
  <ion-toolbar color="custom-dark">
    <ion-buttons slot="start">
      <ion-button (click)="volver()">
        <ion-icon name="arrow-back" slot="icon-only" class="white-icon"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Lista de Asistentes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h1 class="main-title">Asistentes</h1>

  <!-- Tabla de Asistentes -->
  <ion-grid>
    <ion-row>
      <ion-col size="3" class="header-cell">RUT</ion-col>
      <ion-col size="3" class="header-cell">Nombre</ion-col>
      <ion-col size="3" class="header-cell">Hora de Registro</ion-col>
      <ion-col size="3" class="header-cell">Estado</ion-col>
    </ion-row>
    <ion-row *ngFor="let asistente of listaAsistentes; let i = index">
      <ion-col size="3">{{ asistente.rut }}</ion-col>
      <ion-col size="3">{{ asistente.nombreApellido }}</ion-col>
      <ion-col size="3">{{ asistente.horaRegistro || 'N/A' }}</ion-col>
      <ion-col size="3">
        <ion-icon
          [name]="asistente.estado === 'presente' ? 'checkmark-circle' : 'close-circle'"
          [style.color]="asistente.estado === 'presente' ? 'green' : 'red'">
        </ion-icon>
      </ion-col>
      <ion-col size="2">
        <ion-button color="warning" fill="clear" (click)="editarAsistente(i)">
          <ion-icon name="create-outline"></ion-icon>
        </ion-button>
        <ion-button color="danger" fill="clear" (click)="eliminarAsistente(i)">
          <ion-icon name="trash-outline"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- Botones -->
  <ion-button expand="block" color="primary" (click)="agregarAsistente()">Agregar Asistente Manualmente</ion-button>
  <ion-button expand="block" color="tertiary" (click)="generarInformes()">Generar Informes</ion-button>
</ion-content>
