<!-- BARRA DE NAVEGACION -->
<ion-header>
  <ion-toolbar color="custom-dark">
    <ion-title>
      <div class="header-content">
        <ion-img src="assets/img/logo-check-app.png" class="header-logo"></ion-img>
        <span class="header-title">CheckApp</span>
      </div>
    </ion-title>
        <!-- BOTON MENÚ -->
    <ion-buttons slot="end">
      <ion-button (click)="openMenu()" style="--color: white;">
        <ion-icon name="menu-outline"></ion-icon>
      </ion-button>
    </ion-buttons>    
  </ion-toolbar>
</ion-header>

<!-- MENÚ -->
<ion-menu side="end" menuId="main-menu" contentId="main-content">
  <ion-header>
    <ion-toolbar color="custom-dark">
      <ion-title class="white-text">MENÚ</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item button (click)="navigateToHome()" lines="none">
        <ion-icon slot="start" name="home-outline" class="white-icon"></ion-icon>
        <ion-label class="white-text">INICIO</ion-label>
      </ion-item>
      <ion-item button (click)="navigateToGestionDeEventos()" lines="none">
        <ion-icon slot="start" name="calendar-outline" class="white-icon"></ion-icon>
        <ion-label class="white-text">GESTIÓN DE EVENTOS</ion-label>
      </ion-item>
      <ion-item button (click)="navigateToInformes()" lines="none">
        <ion-icon slot="start" name="document-text-outline" class="white-icon"></ion-icon>
        <ion-label class="white-text">GENERAR INFORMES</ion-label>
      </ion-item>
      <ion-item button (click)="navigateToMiPerfil()" lines="none">
        <ion-icon slot="start" name="person-outline" class="white-icon"></ion-icon>
        <ion-label class="white-text">MI PERFIL</ion-label>
      </ion-item>
      <ion-item button (click)="logout()" lines="none">
        <ion-icon slot="start" name="log-out-outline" class="white-icon"></ion-icon>
        <ion-label class="white-text">LOG OUT</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<!-- Mensaje de Bienvenida -->
<ion-content id="main-content" class="ion-padding" [fullscreen]="true">
  <h1 class="main-title">INICIO</h1>
  <p class="subtitle">Bienvenido/a, {{ username }}!</p>
  <p class="subtitle">¿Qué necesitas hacer hoy?</p>

  <ion-grid class="funcionalidades">
    <!-- FILA 1 -->
    <ion-row>
      <!-- BOTÓN 1: Gestión de Eventos -->
      <ion-col size="6">
        <button class="custom-button" (click)="navigateToGestionDeEventos()">
          <ion-icon name="calendar-outline"></ion-icon>
        </button>
        <p class="subtitle-button">GESTIÓN DE EVENTOS</p>
      </ion-col>
    </ion-row>
    <!-- FILA 2 -->
    <ion-row>
      <!-- BOTÓN 2: Informes -->
      <ion-col size="6">
        <button class="custom-button" (click)="navigateToInformes()">
          <ion-icon name="document-text-outline"></ion-icon>
        </button>
        <p class="subtitle-button">INFORMES</p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

