ion-content {
  --background: #272E30;
  padding-bottom: 100px;
  overflow-y: auto;
}

ion-header {
  ion-toolbar {
    --background: #1E1E1E;
    --color: white;
  }
}

/* Header */
.header-content {
  display: flex;
  align-items: center;
  justify-content: center; /* Centrar contenido horizontalmente */
}

.header-logo {
  width: 30px;
  height: 30px;
  margin-right: 8px;
}

.header-title {
  font-size: 18px;
  font-weight: normal;
  color: white;
}

/* Menú Desplegable */
/* Forzar color blanco del botón del menú */
ion-header ion-buttons ion-button {
  --color: white !important;
}

ion-header ion-buttons ion-icon {
  color: white !important;
}


/* Ajustar tamaño del botón del menú */
ion-button {
  --padding-start: 0;
  --padding-end: 0;
  --min-width: 40px; /* Ancho mínimo */
  --min-height: 40px; /* Altura mínima */
  margin-right: 10px; /* Margen hacia la izquierda */

}

ion-button ion-icon {
  font-size: 24px; /* Tamaño del icono */
}
ion-menu {
  --background: #1E1E1E; /* Fondo igual al de la barra */
  //z-index: 9999 !important;  /* Asegura que esté por encima de otros elementos */
  }  

ion-menu-header {
  --background: #1E1E1E;
  color: white; /* Cambia el texto del encabezado a blanco */
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
}

ion-list {
  background-color: #1E1E1E; /* Fondo igual al de la barra */
  color: white;
}

ion-item {
  --background: none;
  color: white;
}

ion-item:hover {
  background-color: #42316c;
}

.icono-menu{
  color: white !important;
}

/* Iconos del Menú */
ion-item ion-icon {
  font-size: 1.5rem; /* Ajusta el tamaño del icono */
  margin-right: 8px; /* Espaciado entre el icono y el texto */
  color: white !important;
}

/* Botón de menú hamburguesa */
/* Forzar color blanco en el botón del menú */
ion-menu-button {
  --color: white !important; /* Aplica color blanco al icono */
  
}

ion-menu-button ion-icon {
  color: white !important; /* Asegura que el icono dentro del botón también sea blanco */
}

/* Encabezado del menú */
ion-title {
  color: white; /* Encabezado del menú en blanco */
  text-align: center;
}

.event-container {
  background-color: #272E30; /* Fondo oscuro */
  padding: 16px; /* Espaciado interno */
  border-radius: 8px; /* Bordes redondeados */
  overflow-y: auto; /* Permitir desplazamiento dentro del contenedor de eventos */
  max-height: calc(100vh - 200px); /* Ajusta este valor según la altura deseada */
  margin-top: 16px; /* Espacio superior para separar del botón de crear evento */
  position: relative; /* Asegúrate de que la posición sea relativa */
  z-index: 2; 
  pointer-events: auto;
}

/* Estilo para las tarjetas de eventos */
.event-card {
  background-color: whitesmoke; /* Fondo de la tarjeta */
  border-radius: 10px;
  padding: 16px;
  margin: 20px 30px; /* Márgenes laterales más grandes */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s; /* Efecto al pasar el mouse */
  margin-bottom: 16px; /* Espacio entre las tarjetas */
  position: relative; /* Asegúrate de que la tarjeta sea relativa */
  z-index: 1; /* Asegúrate de que esté por encima de otros elementos */
}

.event-card:hover {
  transform: scale(1.05); /* Aumentar el tamaño al pasar el mouse */
}

.event-title {
  font-size: 18px;
  color: #272E30; /* Color del título */
  font-weight: bold;
  margin-bottom: 5px;
}

.event-details {
  color: black; /* Cambiado a negro para contraste */
  margin-bottom: 10px;
}

.event-actions {
  display: flex;
  justify-content: space-between;
}

/* Estilo para los botones de acción */
ion-button {
  flex: 1; /* Los botones ocuparán el mismo tamaño */
  margin: 5px; /* Margen entre los botones */
  box-shadow: none; /* Eliminar sombra extraña */
}

.boton-editar {
  --background: #666;
  color: white;
}

.boton-eliminar {
  --background: #272E30;
  color: white;
}

/* Estilo para el botón de crear evento */
.create-event-button {
  --background: #42316c;
  color: white !important; /* Color del texto */
  border-radius: 20px !important; /* Bordes redondeados */
  width: 80% !important; /* Ancho completo del contenedor */
  max-width: 400px !important; /* Ancho máximo, ajustable */
  margin: 20px auto !important; /* Margen superior e inferior, centrado horizontalmente */
  display: block !important; /* Asegura que el botón se comporte como un bloque */
  text-align: center !important; /* Centrar el texto dentro del botón */
  margin-top: 24px;
  font-weight: bold;
}

/* Estilo titulo */
.main-title {
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

.subtitle {
  color: white;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 1px;
}

/* Estilo para el contenedor del botón de registrar asistencia */
.register-assistance {
  margin-top: 10px;
  text-align: center;

  .register-assistance-button {
    --background: #42316c;
    color: white;
    border-radius: 8px;
    font-weight: bold;
    font-size: 0.9rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 5%;


  }

  .register-assistance-button:hover {
    transform: scale(1.05);
    transition: transform 0.2s ease;
    --background: #554b8c;
  }
}


