<ion-header>
  <ion-toolbar color="custom-dark">
    <ion-buttons slot="start">
      <ion-button>
        <ion-img class="logo-img" src="assets/img/logo-check-app.png" style="width: 30px; height: 30px;"></ion-img>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center white-text">CheckApp</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="menu" slot="icon-only" class="custom-menu-button"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="true">
  <h1 class="main-title">REGISTRO</h1>
  <p class="subtitle">Ingresa tus datos</p>

  <ion-card class="registro-card">
    <ion-card-content>
      <form #registroForm="ngForm" (ngSubmit)="onNext()">

        <!-- NOMBRE Y APELLIDO -->
        <ion-label>Nombre y Apellido</ion-label>
        <ion-item>
          <ion-input
            [(ngModel)]="nombreApellido"
            required
            placeholder="Nombre completo"
            autocomplete="off"
            name="nombreApellido">
          </ion-input>
        </ion-item>

        <!-- N° DE IDENTIFICACIÓN -->
        <ion-label>N° de Identificación (RUT)</ion-label>
        <ion-item>
          <ion-input
            [(ngModel)]="rut"
            required
            placeholder="Ejemplo: 12345678-9"
            autocomplete="off"
            name="rut">
          </ion-input>
        </ion-item>

        <!-- TELÉFONO -->
        <ion-label>Teléfono/Celular</ion-label>
        <ion-item>
          <ion-input
            [(ngModel)]="telefono"
            required
            placeholder="Número de teléfono"
            autocomplete="off"
            name="telefono">
          </ion-input>
        </ion-item>

        <!-- EMAIL -->
        <ion-label>Email</ion-label>
        <ion-item>
          <ion-input
            [(ngModel)]="email"
            required
            placeholder="Correo electrónico"
            type="email"
            autocomplete="off"
            name="email">
          </ion-input>
        </ion-item>

        <!-- BOTÓN SIGUIENTE -->
        <ion-button expand="block" type="submit" [disabled]="!registroForm.valid" class="custom-registro-button">
          Siguiente
        </ion-button>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
